
.header-wrapper {
    position: relative;
}

.header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 34px;
    pointer-events: none;
}

.logo {
    pointer-events: auto;
}

@media screen and (max-width: 1199px) {
    .header {
        top: 10px;
    }

    .logo > svg {
        max-width: 90px;
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .header {
        justify-content: center;
    }
}